@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
 button {
	 font-family: 'Open Sans';
}
 body {
	 margin: 0 auto;
	 font-family: 'Open Sans', sans-serif;
	 background: #f4f4f1;
	 text-align: center;
	 padding-top: 20px;
}
 body .title {
	 margin: 0 auto;
	 background-color: #c14c6d;
	 width: 21.67em;
	 color: #f4f4f1;
	 font-size: 24px;
	 padding: 10px auto;
}
 body .chat-box {
	 margin: 0 auto;
	 padding-top: 5px;
	 list-style-type: none;
	 width: 30em;
	 height: 200px;
	 overflow: hidden;
	 overflow-y: scroll;
	 background: #434c6b;
	 color: #f4f4f1;
	 text-align: left;
}
 body #chat-form {
	 background: #3a3f50;
	 width: 32.5rem;
	 margin: 0 auto;
	 color: #f4f4f1;
	 padding: 5px 0;
	 display: flex;
	 justify-content: space-evenly;
}
 body #chat-form #chat {
	 font-family: 'Open Sans';
	 background: #353946;
	 border: 1px solid #7c7b7c;
	 color: #f4f4f1;
	 width: 30em;
}
 body #chat-form #chat #chat:active {
	 border: 1px solid #f4f4f1;
}
 body #chat-form #say {
	 color: #f4f4f1;
	 background-color: #434c6b;
	 border: solid 1px #434c6b;
	 border-radius: 5px;
	 font-size: 14px;
}
 body #chat-form #say #say:hover {
	 cursor: pointer;
}
 body .play-buttons {
	 display: flex;
	 padding: 1em;
	 background: #3a3f50;
	 margin: 0 auto;
	 width: 30.5em;
	 justify-content: space-around;
}
 body .play-buttons #rock, body .play-buttons #paper, body .play-buttons #scissors {
	 font-family: 'Open Sans';
	 color: #f4f4f1;
	 background-color: #c14c6d;
	 border: solid 1px #c14c6d;
	 border-radius: 5px;
	 font-size: 24px;
}
 body .play-buttons #rock #rock:hover, body .play-buttons #paper #rock:hover, body .play-buttons #scissors #rock:hover, body .play-buttons #rock #paper:hover, body .play-buttons #paper #paper:hover, body .play-buttons #scissors #paper:hover, body .play-buttons #rock #scissors:hover, body .play-buttons #paper #scissors:hover, body .play-buttons #scissors #scissors:hover {
	 cursor: pointer;
}
 